[submodule "themes/revealjs"]
	path = themes/revealjs
	url = https://github.com/RealOrangeOne/hugo-theme-revealjs
[submodule "themes/hugo-theme-revealjs"]
	path = themes/hugo-theme-revealjs
	url = https://github.com/RealOrangeOne/hugo-theme-revealjs
